# Stout Case Study - 2

## Importing Required Libraries

In [1]:
import csv, sqlite3
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Reading the Data

In [2]:
conn = sqlite3.connect("casedb.db")
dataframe = pd.read_csv('E:\Stout\Case Study\casestudy2.csv')
dataframe.to_sql("casedb", conn, if_exists='append', index=False)

conn.commit()

In [3]:
cur = conn.cursor()

## Total revenue for the current year

### 2015

In [4]:
sql_command = "SELECT round(sum(net_revenue),2) FROM casedb where year = 2015"
cur.execute(sql_command) 

ans = cur.fetchall()
print("Total Revenue - 2015 :", ans[0][0]) 
total_revenue2015 = ans[0][0]

Total Revenue - 2015 : 116146996.76

### 2016

In [5]:
sql_command = "SELECT round(sum(net_revenue),2) FROM casedb where year = 2016"
cur.execute(sql_command) 

ans = cur.fetchall()
print("Total Revenue - 2016:", ans[0][0]) 
total_revenue2016 = ans[0][0]

Total Revenue - 2016: 102923774.36

### 2017

In [6]:
sql_command = "SELECT round(sum(net_revenue),2) FROM casedb where year = 2017"
cur.execute(sql_command) 

ans = cur.fetchall()
print("Total Revenue - 2017:", ans[0][0]) 
total_revenue2017 = ans[0][0]

Total Revenue - 2017: 125669980.12

## New Customer Revenue 

### e.g. new customers not present in previous year only

### 2016

In [7]:
sql_command = """SELECT round(sum(net_revenue),2) FROM casedb 
                where year = 2016 AND customer_email not in (select customer_email from casedb where year = 2015)"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("New Customer Revenue - 2016:", ans[0][0])

New Customer Revenue - 2016: 72981964.04

### 2017

In [8]:
sql_command = """SELECT round(sum(net_revenue),2) FROM casedb 
                where year = 2017 AND customer_email not in (select customer_email from casedb where year = 2016)"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("New Customer Revenue - 2017:", ans[0][0])

New Customer Revenue - 2017: 115104940.16

## Existing Customer Growth 
### Revenue of existing customers for current year â€“ Revenue of existing customers from existing year

### 2016

In [11]:
sql_command = """SELECT round(sum(net_revenue),2) FROM casedb 
                where year = 2016 AND customer_email in (select customer_email from casedb where year = 2015);"""
cur.execute(sql_command) 

ans = cur.fetchall()
existing_customer_revenue_2016 = ans[0][0]

sql_command = """SELECT round(sum(net_revenue),2) FROM casedb 
                where year = 2015 AND customer_email in (select customer_email from casedb where year = 2016);"""
cur.execute(sql_command) 

ans = cur.fetchall()
existing_customer_revenue_2015 = ans[0][0]

print("Existing Customer Growth - 2016 :", existing_customer_revenue_2016 - existing_customer_revenue_2015)
existing_customer_growth_2016 = existing_customer_revenue_2016 - existing_customer_revenue_2015

Existing Customer Growth - 2016 : 81341.83999999985

### 2017

In [12]:
sql_command = """SELECT round(sum(net_revenue),2) FROM casedb 
                where year = 2017 AND customer_email in (select customer_email from casedb where year = 2016);"""
cur.execute(sql_command) 

ans = cur.fetchall()
existing_customer_revenue_2017 = ans[0][0]

sql_command = """SELECT round(sum(net_revenue),2) FROM casedb 
                where year = 2016
                AND customer_email in (select customer_email from casedb where year = 2017);"""
cur.execute(sql_command) 

ans = cur.fetchall()
existing_customer_revenue_2016 = ans[0][0]

print("Existing Customer Growth - 2017 :", existing_customer_revenue_2017 - existing_customer_revenue_2016)
existing_customer_growth_2017 = existing_customer_revenue_2017 - existing_customer_revenue_2016

Existing Customer Growth - 2017 : 82445.36000000127

## Revenue lost from attrition

### 2016

In [13]:
sql_command = """SELECT round(sum(net_revenue),2) FROM casedb 
                where year = 2015 
                AND 
                customer_email not in (select customer_email from casedb where year = 2016);"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Revenue lost from attrition - 2016:", ans[0][0])
attrition_revenue_loss_2016 : ans[0][0]

Revenue lost from attrition - 2016: 86286528.28

### 2017

In [14]:
sql_command = """SELECT round(sum(net_revenue),2) FROM casedb 
                where year = 2016 
                AND 
                customer_email not in (select customer_email from casedb where year = 2017);"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Revenue lost from attrition - 2017:", ans[0][0])
attrition_revenue_loss_2017 : ans[0][0]

Revenue lost from attrition - 2017: 92441179.76

## Existing Customer Revenue Current/Prior Year

### 2015

In [15]:
print("Existing Customer Revenue - 2015:" , existing_customer_revenue_2015)

Existing Customer Revenue - 2015: 29860468.48

### 2016

In [16]:
print("Existing Customer Revenue - 2016:" , existing_customer_revenue_2016)

Existing Customer Revenue - 2016: 10482594.6

### 2017

In [17]:
print("Existing Customer Revenue - 2017:" , existing_customer_revenue_2017)

Existing Customer Revenue - 2017: 10565039.96

## Total Customers

### 2015

In [18]:
sql_command = """SELECT count(distinct customer_email) FROM casedb 
                 where year = 2015;"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Total Customers 2015:", ans[0][0])

Total Customers 2015: 231294

### 2016

In [19]:
sql_command = """SELECT count(distinct customer_email) FROM casedb 
                 where year = 2016;"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Total Customers 2016:", ans[0][0])

Total Customers 2016: 204646

### 2017

In [20]:
sql_command = """SELECT count(distinct customer_email) FROM casedb 
                 where year = 2017;"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Total Customers 2017:", ans[0][0])

Total Customers 2017: 249987

## New Customers

### 2016

In [21]:
sql_command = """SELECT count(distinct customer_email) FROM casedb 
                 where year = 2016 and customer_email not in (select customer_email from casedb where year = 2015);"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("New Customers in 2016:", ans[0][0])

New Customers in 2016: 145062

### 2017

In [22]:
sql_command = """SELECT count(distinct customer_email) FROM casedb 
                 where year = 2017 and customer_email not in (select customer_email from casedb where year = 2016);"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("New Customers in 2017:", ans[0][0])

New Customers in 2017: 229028

## Lost Customers

### 2016

In [23]:
sql_command = """SELECT count(distinct customer_email) FROM casedb 
                 where year = 2015 and customer_email not in (select customer_email from casedb where year = 2016);"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Lost Customers in 2016:", ans[0][0])

Lost Customers in 2016: 171710

### 2017

In [24]:
sql_command = """SELECT count(distinct customer_email) FROM casedb 
                 where year = 2016 and customer_email not in (select customer_email from casedb where year = 2017);"""
cur.execute(sql_command) 

ans = cur.fetchall()
print("Lost Customers in 2017:", ans[0][0])

Lost Customers in 2017: 183687

In [26]:
conn.close()